
.film__item {
    padding: 1rem;
    position: relative;
    // border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    transition: all 0.5s ease;

    .film__toggle__area {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        cursor: pointer;

        .cross {
            grid-row: 1/2;
            grid-column: 12 / -1;
            justify-self: end;

            svg {
                width: 100%;
                height: 100%;
            }
        }
        
        .film {
            &__name {
                grid-column: 1 / 12;
            }
            &__date {
                grid-column: 1 / 4;
            }
            &__time {
                grid-column: 5 / span 2;
            }
            &__place {
                grid-column: 7 / -1;
            }
        }

        &.isOpeningFilm, &.isClosingFilm {
            .film {
                &__name {
                    grid-column: 1 / 5;
                }
            }
            .opening, .closing {
                // display: flex;
                // align-items: center;
                // text-align: center;
                // background-color: #FFE1E6;
                grid-column: 5 / 10;
                
                svg {
                    // width: 20px;
                    fill: #D6366F;
                    stroke: #D6366F;
                    vertical-align: middle;
                }
                span {
                    vertical-align: middle;
                }
            }
        }
    }

    .film__info {
        // display: grid;
        opacity: 0;
        max-height: 0;
        top: 0;
        z-index: -1;
        transition: opacity 0.5s ease, max-height 0.5s ease; // Combine both transitions
        .mainImg {
            width: 100%;
            height: auto;
        }

        .themes {
            // display: none;
            div:not(:last-child) {
                margin-right: 1rem;
            }

            .genre {
                // background-color: #D8DF50;
            }
        }
        .prizes li::before {
            position: absolute;
            content: '★';
            color: #D6366F;
            display: table-cell;
            left: 0;
        }

        .directorImg {
            max-width: 50%;
        }

        .subImages img {
            // width: 100%;
            // display: inline-block;
            // &:not(:first-child) {
            //     display: none;
            // }
        }

        // .subImages img:not(:first-child) {
        //     display: none;
        // }

    }

    @media (min-width: 768px) {
        .film__toggle__area {
            grid-template-rows: unset;

            .film {
                &__name {
                    grid-column: 1 / span 6;
                }
                &__date {
                    grid-column: 7 / 8;
                }
                &__time {
                    grid-column: 8 / 9;
                }
                &__place {
                    grid-column: 9 / 12;
                }
            }
            .cross {
                width: 40px;
                height: 40px;
            }

            &.isOpeningFilm, &.isClosingFilm {
                .film {
                    &__name {
                        grid-column: 1 / span 2;
                    }
                }
                .opening, .closing {
                    grid-column:  4 / 6;
                    border-radius: 8px;
                    padding: 2px 16px;
                }
            }
        }
        .film__info {
            display: grid;
            gap: 0 2rem;
            grid-template-rows: auto;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
                "mainImg mainImg name name"
                "mainImg mainImg genres genres"
                "subImages subImages events events"
                "prizes prizes events events"
                "prizes prizes cta cta"
                "prizes prizes . ."
                "synopsis synopsis . . "
                "themes themes . ."
                ". . directorImg director"
                ". . directorIntro directorIntro";
                
            .mainImg {
                grid-area: mainImg;
            }
            .name {
                // font-size: 4rem;
                grid-area: name;
            }
            .events {
                grid-area: events;
            }
            .director {
                align-self: flex-end;
                // font-size: 1.5rem;
                grid-area: director;
            }
            .cta {
                grid-area: cta;
            }
            .prizes {
                grid-area: prizes;
            }
            .directorIntro {
                grid-area: directorIntro;
            }
            .directorImg {
                max-width: 100%;
                grid-area: directorImg;
            }
            .genres {
                grid-area: genres;
            }
            .synopsis {
                grid-area: synopsis;
            }
            .themes {
                grid-area: themes;
                div {
                    // font-size: 1.25rem;
                }
            }
            .subImages {
                grid-area: subImages;
                align-self: start;
                img {
                    // display: block;
                    // width: 170px;
                    &:not(:first-child) {
                        display: unset;
                        // margin-left: 1rem;
                    }
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .film__info {
            grid-template-areas:
                "mainImg mainImg name name"
                "mainImg mainImg genres genres"
                "mainImg mainImg events events"
                "subImages subImages cta cta"
                "prizes prizes . ."
                "prizes prizes . ."
                "prizes prizes . ."
                "synopsis synopsis . . "
                "themes themes . ."
                ". . directorImg director"
                ". . directorIntro directorIntro";
        }
    }
    
}

// .film__info {
//     display: grid;
//     opacity: 0;
//     max-height: 0;
//     top: 0;
//     z-index: -1;
//     transition: opacity 0.5s ease, max-height 0.5s ease; // Combine both transitions

//     .name {
        
//     }
// }




.film__checkbox {
    opacity: 0;
    position: absolute;
}
input:checked ~ .openingFilmTheme {
    // opacity: 1;
    // transition: opacity 0.5s ease;
}

input:checked ~ .film__item .film__toggle__area {
    grid-template-rows: repeat(1, 1fr);
}

input:checked + div > .Main_img {
    background-color: purple;
}

input:checked ~ .film__item {
    border: 1px solid #000;
    border-radius: 25px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

input:checked ~ .film__item svg {
    transform: rotate(45deg);
    transition: all 0.25s ease;
}
input ~ .film__item  svg {
    transform: rotate(0deg);
    transition: all 0.25s ease;
}

input:checked ~ .film__item .film__name,
input:checked ~ .film__item .opening,
input:checked ~ .film__item .closing,
input:checked ~ .film__item .film__date,
input:checked ~ .film__item .film__time,
input:checked ~ .film__item .film__place {
    display: none;
    /* opacity: 0; */
    position: absolute;
    top: 0;
}

input:checked ~ .film__item > .film__info {
    padding-bottom: 2rem;
    opacity: 1;
    max-height: 3000px;
    /* position: unset; */
    transition: opacity 0.5s ease, max-height 0.5s ease; // Combine both transitions
}