@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Terminal Grotesque';
    src: url('../fonts/terminal-grotesque-webfont.woff') format('woff2'),
        url('../fonts/terminal-grotesque-webfont.woff') format('woff'),
        url('../fonts/terminal-grotesque-webfont.ttf') format('truetype');
}

#content, #billy {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards 1s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.p5Canvas{
    z-index:99;
    position:absolute;
    top:0;
    left:0;
    pointer-events: none;
    mix-blend-mode: soft-light;
}

.text-shadow {
    text-shadow: 3px 3px #FFF;
}

.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 199;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    padding: 15px 0px;
}

.marquee span {
    display: inline-block;
    animation: marquee 50s linear infinite;
    color: #fff;
}

@keyframes marquee {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Optional: Add styles for links */
.marquee a {
    color: #fff;
    text-decoration: none;
}

.marquee a:hover {
    color: #eee;
    text-decoration: underline;
}

.noPointer {
    pointer-events: none;
}

.mix {
    mix-blend-mode: difference;
    transform: translate3d(0, 0, 0);
}

.isolate {
    isolation: isolate;
}

:visited {
    background-color: #D6366F;
}

a:hover {
    color: #ccc;
    cursor: pointer;
}

/* .film__item {
    position: relative;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    transition: all 0.5s ease;
} */

/* .film__info {
    display: grid;
    opacity: 0;
    max-height: 0;
    top: 0;
    z-index: -1;
    transition: opacity 0.5s ease;
    transition: max-height 0.5s ease;
} */


/* .film__toggle__area {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    cursor: pointer;
} */
/* .film__name {
    grid-column: 1 / 12;
} */
/* .film__date {
    grid-column: 1 / 4;
} */
/* .film__time {
    grid-column: 4 / span 3;
} */
/* .film__place {
    grid-column: 7 / -1;
} */
/* .cross {
    grid-row: 1/2;
    grid-column: 12 / -1;
    justify-self: end;
    z-index: 99999;
} */